body {
  background-image: url('../img/stars.jpg');
  color:white;
}

h2 {
  text-align: right;
  font-size: 3em;
  background-color: black;
}

#imageSubmit {
  padding-left: 27%;
  padding-right:auto;
  width:53%;
  height:auto;
}

#logo {
  width:35%;
  height:auto
}

#ask {
  padding-top:100px;
}

#result {
  display: none;

}

.jumbotron{
  margin-top: 80px;
  background-color:#d96e26;
}

.submit {
  height: 250px;
  width:auto;
}

#darthSubmit {
  margin-left: 10%
}
